* {
    box-sizing: border-box;
    font-family: "Segoe UI", san-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background 0.3s;
}

.calculator{
    width: 280px;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    transition: background 0.3s, color 0.3s;

}

.display {
  text-align: right;
  margin-bottom: 20px;
}

.display small{
    opacity: 0.6;
}

.display h1{
    font-size: 42px;
    margin: 5px 0;
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

button {
    border: none;
    border-radius: 14px;
    padding: 20px;
    font-size: 18px;
    cursor: pointer;
    transition: tranform 0.1s, background 0.3s, color 0.3s;

}

button:active{
    transform: scale(0.95);
}

.zero{
    grid-column: span 2;
}

.equal {
  grid-row: span 2;
}

.theme-btn {
  margin-bottom: 15px;
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ccc;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  line-height: 1;
}

.theme-btn:active {
  transform: scale(0.92);
}



/* light theme */

body.light{
    background: #eaf3f9;
}

body.light .calculator{
    background: #f7fbff;
      color: #000;

}

body.light button {
    background: #e8f0f7 ;
    color: #000
}

body.light .op{
    background: #d0e6f8;
}

body.light .equal {
  background: #2f8dfc;
  color: white;
}

/*dark theme */
body.dark {
  background: #0f1b24;
}

body.dark .calculator {
  background: #0f1b24;
  color: white;
}

body.dark button {
  background: #1c2a35;
  color: white;
}

body.dark .op {
  background: #263c52;
}

body.dark .equal {
  background: #2f8dfc;
  color: white;
}
